<div id="contactForm" class="p-6 bg-white rounded-lg shadow-lg max-w-md mx-auto">
    <h2 class="text-2xl font-bold mb-4">Kontaktieren Sie mich</h2>
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
      <div class="mb-4">
        <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
        <input type="text" id="name" class="mt-1 p-2 border border-gray-300 rounded w-full"
               required [(ngModel)]="formData.name" name="name" #name="ngModel">
        <div *ngIf="name.invalid && name.touched" class="text-red-500 text-sm">Name ist erforderlich</div>
      </div>
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700">E-Mail</label>
        <input type="email" id="email" class="mt-1 p-2 border border-gray-300 rounded w-full"
               required [(ngModel)]="formData.email" name="email" #email="ngModel">
        <div *ngIf="email.invalid && email.touched" class="text-red-500 text-sm">Email erforderlich</div>
      </div>
      <div class="mb-4">
        <label for="message" class="block text-sm font-medium text-gray-700">Nachricht</label>
        <textarea id="message" rows="4" class="mt-1 p-2 border border-gray-300 rounded w-full"
                  required [(ngModel)]="formData.message" name="message" #message="ngModel"></textarea>
        <div *ngIf="message.invalid && message.touched" class="text-red-500 text-sm">Nachricht ist erforderlich</div>
      </div>
      <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
              [disabled]="contactForm.invalid">Absenden</button>
    </form>
  </div>
  