

<main class="min-h-screen bg-gray-100 flex justify-center items-center">
  <div class="content max-w-lg p-6 bg-white shadow-lg rounded-lg">
    <div class="left-side text-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 982 239"
        fill="none"
        class="w-48 mx-auto"
      >
        
      </svg>
      <h1 class="text-3xl font-bold mt-4">I am, {{ title }}</h1>
      <p class="text-gray-600">My first Website</p>
    </div>
  </div>
</main>




<router-outlet />
